@charset "UTF-8";

/* 
Break Point 
tablet: 768px;
laptop: 1020px;
desktop: 1400px;
*/

/* desktop */
@media (max-width: 1500px){
    .header_in {
        padding: 0 30px;
    }
    .gnb_wrap {
        padding-right: 30px;
    }

    .swiper-slide-active .s3_product, .swiper-slide-duplicate-active .s3_product { 
        transform: translateX(-40px); 
    }
    
    .s3_product_img {
        width: 460px; height: 460px;
    }
    .s5_sub_w {
        padding: 4% 10%;
        margin-left: 8%;
    }
    
}

@media (max-width: 1280px){

    .gnb_list_w {
        margin-right: 10vw;
    }
    .swiper-slide-active .s3_product, .swiper-slide-duplicate-active .s3_product { 
        transform: translateX(-30px); 
    }
    .s3_product_img {
        width: 400px; height: 400px;
    }
    .s4_item_list ul {
        justify-content: center;
        width: 100%;
    }
    .s4_item_list_title {
        margin: 0 12px;
    }
    .s4_item_list_title a {
        font-size: 18px;
    }
    .s4_item_cont_title {
        font-size: 20px;
    }
    .s4_item_cont_tag {
        font-size: 16px;
    }
    .s4_item_cont > div > ul li {
        width: 100%;
    }
    .s5_item_cont_title {
        font-size: 1.8vw;
    }
    .s5_item_cont_sub {
        font-size: 1.2vw;
    }
    .s5_sub_img {
        margin-right: 2.8vw;
    }


    .s6_sub_img {
        width: 30vw;
        height: 40vw;
    }
    .s7_sub_img {
        width: 45vw;
        height: 60vw;
        margin-right: 30px;
    }
    .s7_item_cont_wrap {
        width: 50vw;
        padding-top: 4.6vw;
    }
    .s7_item_title {
        font-size: 5vw;
    }
    .s7_item_sub {
        font-size: 1.5vw;
        margin: 36px 0;
        padding-left: 0;
    }
    .s7_btn_w {
        padding-left: 0;
        padding-top: 3vw;
    }
}
/* Done!! */


@media (max-width: 1080px){
    .header_in {
        padding: 0 8px;
    }
    .gnb_wrap {
        padding-right: 8px;
    }
    }
    .gnb_list > li {
        padding: 0 30px;
    }
    .s2_bg {
        display: none;
    }
    .s2_img {
        right: 10%;
        width: 50vw;
    }

    .s3_product {
        top: 80px;
    }
    .swiper-slide-active .s3_product, .swiper-slide-duplicate-active .s3_product { 
        transform: translateX(-10px); 
    }
    .s3_product_img {
        width: 400px; height: 400px;
    }
    .s3_item_cont.type2 {
        width: 30%;
    }
    .s5_sub_w {
        margin-left: 12%;
        padding: 8% 0;
    }
    .s5_sub {
        margin-right: 0;
    }
    .s5_item_cont {
        width: 340px;
    }
    .s5_item_cont_title {
        margin-bottom: 36px;
    }
    .s5_item_cont_sub {
        margin-bottom: 36px;
    }
}

@media (max-width: 868px){
    .gnb_list_w {
        display: none;
    }


    .s3_product {
        top: 120px;
    }

    .swiper-slide-active .s3_product, .swiper-slide-duplicate-active .s3_product { 
        transform: translateX(-16px); 
    }
    
    .s3_product_img {
        width: 300px; height: 300px;
    }

    .s6_item_cont_title {
        font-size: 18px;
        color: #fff;
        margin: 16px 0;
    }
    .s6_btn_w a {
        font-size: 14px;
    }
    .s7_item_sub {
        margin: 20px 0;
    }
    .s7_item_sub span {
        line-height: 18px;
    }
    .s7_btn_w {
        padding-top: 0;
    }
    
}

@media (max-width: 768px){
    .s5_main {
        font-size: 6.2vw;
    }
    .s5_sub {
        display: block;
        width: 100%
    }
    .s5_sub_img {
        display: inline-block;
        width: 50vw;
        margin: 0 auto;
    }
    .s5_item_cont {
        display: inline-block;
        width: 420px;
        margin: 0 auto;
    }
    .s5_item_cont_title {
        font-size: 2.8vw;
        margin: 16px 0;
    }
    .s5_item_cont_sub {
        display: none;
    }
    .s5_sub_w {
        width: max-content;
        margin: 0 auto;
        padding: 10%;
        text-align: center;
    }

}


@media (max-width: 429px){
}