@charset "UTF-8";

/* 'IBM Plex Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap');
/* 'Nanum Gothic' */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* 'Raleway' */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');
/* 'Noto Sans KR' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


body { 
    font-family:'IBM Plex Sans KR', sans-serif; 
    font-size: 12px; 
    color: #222;
    scroll-behavior: smooth;
}
a { color:#111; }

.mobile { display:none; }
img { max-width:100%; }

/* .hide { display:none; } */

/* header */
header { position:absolute; top:0; left:0; width:100%; height:4.2vw; min-height:80px; border-bottom:1px solid #d8d8d8; z-index:50; }
.header_in { max-width:1920px; height:100%; padding: 0 60px; }
header h1 { display:flex; width:172px; height:100%; }
header h1 a { display:inline-block; width:172px; height:100%; }
header h1 a img { color:#70A2D6; width: 100%; height: 100%; object-fit: contain;}

.gnb_wrap { position:absolute; height:100%; top:0; left:0; width:100%; display:flex; justify-content: flex-end; height:100%; padding-right: 60px;}

.gnb_list_w {height:100%; margin-right: 26vw; }
.gnb_list { display:table; height:100%; padding-right:2vw; }
.gnb_list > li { display:table-cell; height:100%; padding:0 37px; position:relative; }
.mitem { display:flex; font-size:16px; align-items:center;  height:100%; color: #70A2D6; }

.subItem_w { display:none; position:absolute; top:100%; left:0; width:100%; background: rgba(255,255,255,0.6); border-top:1px solid #d8d8d8; box-shadow:10px 10px 30px rgb(0 0 0 / 20%); text-align:center; }
.subItem_list { padding:20px 0 }
.subItem_list > li{ margin-bottom:10px;}
.subItem_list .subItem { 
    font-size: 15px;
}
.subItem:hover { color:#70A2D6; }

.subItem_w::before { position:absolute; content:""; width:9px; height:9px; background:#70A2D6; border-radius:50%; margin-top:-5.5px;  }


/*pc상태 메인메뉴 hover*/
.gnb_list > li:hover .subItem_w { display:block; }

.national_list { 
    height:100%; 
    width: 80px; 
}
a.nat_target { 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    height:100%; 
    width:100%; 
    position:relative; 
}
.nat_target_in { 
    display: inline-block;
    width: 50%;
    height: 50%;
    background: url('../img/icon/icon_shopping_bag_blue.svg') no-repeat center center /contain;
    text-indent: -9999px;
}

.totalmenu_w { 
    height:100%; 
    width: 80px; 
}

a.btn_total { 
    display:flex; 
    align-items:center; 
    height:100%; width:100%; 
    position:relative; 
    text-indent: -9999px;
}

.btn_total_in {
    display: block;
    position:absolute; 
    content:""; 
    width:60%; 
    height:2px; 
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%);
    background:#70A2D6;  
}

.line1 {
    transform: translate(-50%, -12px);
}
.line1:after {
    display: block;
    position: absolute; 
    content:""; 
    width: 70%; 
    height:2px; 
    top: 8px;
    background:#70A2D6;  
}

.line2 {
    transform: translate(-50%, 12px);
}
.line2:before {
    display: block;
    position: absolute; 
    content:""; 
    width: 50%; 
    height:2px; 
    bottom: 8px; right: 0;
    background:#70A2D6;  
}

/***********   total_menu_z   ************/
.total_menu_z { height:0; position:fixed; top:0; left:0; width:100%; z-index:101; overflow:hidden; transition:1s}
.total_menuZ_in { 
    position:absolute; 
    width:100%; 
    height:100%; 
    background:#EBE7E4 url("../img/laneige_holo_logo.png") no-repeat 50% 50% / 200px auto; 
}

.total_menu_z.active { height:100%; }

.total_menu_z h1 { display:none; }
.total_menu_z h1 a {}

.total_menu { width:100%; height:100%; }
ul.total_list { display:table; position:absolute; top:0; left:20%; width:60%; height:100%; }
.total_list > li { display:table-cell; position:absolute; top:35%; }
a.totalMitem { font-size:2vw; font-weight:500; color:#fff; border-bottom:2px solid transparent; transition:0.4s; }
.totalMitem:hover { border-bottom:2px solid #fff; }

.total_item01 { left:0; }
.total_item02 { left:30%; }
.total_item03 { right:30%; }
.total_item04 { right:0; }

.totalSubItem_w { padding-top:60px;}
ul.totalSubItem_list {}
.totalSubItem_list > li { margin-bottom:15px;}
a.totalSubItem { 
    font-size:1.1vw; 
    color:#909fa3; 
    font-weight:500;
    letter-spacing:-1px; 
}
.totalSubItem:hover { color:#70A2D6; }

.totalAddress_w { position:absolute; bottom:10%; left:20%; width:60%; color:#86a1a8 }
.totalAddress_w h2 { font-size:0.8vw; margin-bottom:20px; }
.totalAddress_list { display:table; }
.totalAddress_list > li { display:table-cell; font-size:0.67vw; padding-right:70px; line-height:2; font-weight:300;}

.totalClose_w { 
    position:absolute;
    top:0; right:0; 
    height:4.2vw; 
    min-height: 80px; 
    width: 9%; 
}
a.btn_totalClose { 
    display:flex; 
    align-items:center; 
    height:100%; width:100%; 
    position:relative; 
    text-indent: -9999px; 
}
a.btn_totalClose:before, a.btn_totalClose:after { 
    position:absolute; 
    content:""; 
    width:2px; 
    height:36px; 
    left:28%; 
    top:50%; 
    margin-top:-16px; 
    background:#70A2D6; 
}
a.btn_totalClose:before { transform:rotate(45deg);}
a.btn_totalClose:after { transform:rotate(-45deg);}









/**************  #fullpage **************/
.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* effect */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

#fullpage {}

#s1 {
    position:relative;
}
.main_img_w {}
.main_img_w img { 
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; 
    background-position: center center;
    background-size: contain;
    object-fit: cover; 
    z-index:3; 
}

.s1_w { 
    position:relative; 
    z-index:5; 
    color:#333; 
    padding: 50px 0 0 12vw; 
}
.s1_main { 
    font-size: 2.8vw; 
    font-weight: 300; 
    line-height:1.25; 
    letter-spacing:-1.8px; 
    /* transform: translateX(250px);  */
    /* opacity: 0;  */
    /* transition-duration: 1.4s;  */
    /* transition-delay: 1.2s;  */
    font-family: 'IBM Plex Sans KR', sans-serif;
    animation-name: main_left;
    animation-duration: 1.8s;
    /* animation-delay: 1s; */
}

@-webkit-keyframes main_left {
    from {transform: translateX(150px); opacity: 0;} 
    to {transform: translateX(0); opacity: 1;}
}

@keyframes main_left {
    from {transform: translateX(150px); opacity: 0;} 
    to {transform: translateX(0); opacity: 1;}
}

.s1_w span { 
    display:block; 
    font-size: 2.8vw; 
}
.s1_sub { 
    font-size:1.2vw; 
    margin-top: 20px; 
    font-weight: 200;
    /* transform: translateX(150px);  */
    /* opacity: 0;  */
    /* transition-duration: 1.2s;  */
    /* transition-delay: 1.6s;  */
    animation-name: sub_left;
    animation-duration: 2.2s;
    /* animation-delay: 1.6s; */
}

@-webkit-keyframes sub_left {
    from {transform: translateX(250px); opacity: 0;} 
    to {transform: translateX(0); opacity: 1;}
}

@keyframes sub_left {
    from {transform: translateX(250px); opacity: 0;} 
    to {transform: translateX(0); opacity: 1;}
}


.s1_sub .only-desktop {
    margin-top: 8px;
    font-size: 1vw;
}



#s2 { 
    position:relative; 
    background:#F5F9FF; 
    min-height:475px; 
}
.s2_bg { 
    position:absolute; 
    top:0; right:0; bottom:0; 
    width:30%; 
}
.s2_bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2_img { 
    position:absolute; 
    top:0; right:20%; 
    height:100%; width:30%; 
    display:flex; 
    align-items:center; 
}

.s2_w { position:relative; margin:100px 12vw;  z-index:5; }
.s2_in { width:100%; }

.s2_title_w {
    /* position: relative; */
    /* width: 380px; */
}
    .s2_title {
        max-width: 138px;
        transform: translateX(200px); 
        opacity: 0; 
        transition-duration: 1s;
    }
    .s2_title_sub { 
        font-size: 80px; 
        color:#C5D6F7; 
        font-weight:700; 
        margin-top:26px;
        transform: translateX(150px); 
        opacity: 0; 
        transition-duration: 1s; 
        transition-delay: 0.3s;
        font-family: 'Raleway', sans-serif;
    }
    .s2_title_sub p:last-child {
        padding-left: 6%;
        margin-top: -20px;
    } 

    .s2_title_sub span {
        font-size: 0.7em; 
    } 


    #s2.active .s2_title { 
        transform: translateX(0); 
        opacity: 1; 
    }
    #s2.active .s2_title_sub { 
        transform: translateX(0); 
        opacity: 1; 
    }


.s2_cont { 
    margin-top: 50px; 
    transform: translateY(180px); 
    opacity: 0;
    transition-duration: 1s; 
    transition-delay: 0.6s; 
}
    .s2_cont:last-child { 
        margin-top: 30px; 
        transition-delay: 0.7s; 
    }
    .s2_item_title { 
        /* font-size:1vw;  */
        font-size: 24px;
        color:#333; 
        font-weight: 600; 
    }
    .s2_item_title .title_point {
        width: 42px; height: 42px;
        margin-bottom: 16px;
    }
    .s2_item_cont { 
        /* font-size:0.85vw;  */
        font-size: 15px;
        margin-top:40px; 
    }

    #s2.active .s2_cont {
        transform: translateY(0); 
        opacity: 1; 
    }

    .s2_more { 
        padding-top:50px; 
    }
    .s2_more a { 
        position:relative; 
        display:inline-block; 
        height:54px; 
        line-height:54px; 
        padding-right:67px; 
        font-size: 16px;   
        color:#3c4940; 
        transition: 0.4s;
    }
    .s2_more a:after {
         position:absolute; 
         content:""; 
         top:0; right:0; 
         height:54px; width:54px; 
         background: url('../img/icon/arrow_right_icon.svg') no-repeat 50% 50%; 
         background-size: 80%; 
         border-radius:50%; 
         border: 1px solid #C5D6F7;;
        }
    .s2_more:hover a {
        padding-left: 6px; 
    }
    .s2_more:hover a:after {
        box-shadow: 0 0 6px #59a7da;
    } 
    


#s3 { 
    position:relative; 
    background: #fff;
}

.s3_w { 
    position:relative; 
    margin:100px 12vw; 
    color:#222;
}
.s3_title { 
    font-size: 1.5vw; 
    font-weight: 500; 
    transform: translateX(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    color: #999;
} 
.swiper-wrapper {
    transition-duration: 3s;
}


.s3_main { 
    font-size:4.5vw; 
    font-weight:700;   
    line-height:1.25; 
    letter-spacing:-1.8px; 
    margin-top: 30px;
    opacity: 0; 
    transition-duration: 1.4s; 
    transition-delay: 0.6s; 
}

#s3.active .s3_title { 
    transform: translateX(0); 
    opacity: 1;
}
.swiper-slide-active .s3_main, .swiper-slide-duplicate-active .s3_main { 
    opacity: 1; 
}

.s3_sub_w { 
    transform: translateY(100px); 
    opacity: 0; 
    transition-duration: 2s; 
    transition-delay: 1.2s; 
}
.s3_sub { 
    margin-top:40px; 
}
.s3_item_cont { 
    font-size:0.95vw;
}
.s3_item_title { 
    font-size:1.3vw; 
    margin-bottom: 22px; 
    font-weight: 500;
}
.s3_item_cont .s3_item_sub { 
    color: #666;
}

.s3_item_cont.type2 {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 22px;
}
.s3_item_cont.type2 span {
    font-size: 36px;
    color: #ccc;
}

.s3_btn_w { 
    margin-top:100px; 
    opacity: 0; 
    transition-duration: 2s; 
    transition-delay: 2s; 
}

.swiper-slide-active .s3_sub_w, .swiper-slide-duplicate-active .s3_sub_w { 
    transform: translateY(0); 
    opacity: 1; 
}
.swiper-slide-active .s3_btn_w, .swiper-slide-duplicate-active .s3_btn_w { 
    opacity: 1; 
}


a.s3_btn { 
    display:inline-block;
    margin-right:10px; 
    padding:13px 18px; 
    border:1px solid #222; 
    border-radius:100px;  
}
.s3_btn span { 
    position:relative;
    display:block; 
    font-size:0.84vw;
    color:#222; 
    padding-right:70px; 
}

.s3_btn span:before, .s3_btn span:after { 
    position:absolute; 
    content:""; 
    top:50%; right: 6px; 
    transition: 0.4s;
}
.s3_btn span:before {
    width:25px; 
    height:1px; 
    background:#222; 
}
.s3_btn span:after { 
    width:8px; height:8px;
    border:1px solid #222; 
    border-bottom:0; 
    border-left:0; 
    transform:rotate(45deg) translateY(calc(-50% - 1px)); 
    right: 10px; 
}
.s3_btn:hover span:before {
    right:0;
}
.s3_btn:hover span:after {
    right:4px; 
}

.s3_product {
    position: absolute;
    top: 100px; right: 7%;
    display: inline-block;
    transform: translateX(0); 
    opacity: 0; 
    transition-duration: 3s; 
    transition-delay: 1.3s;
}

.s3_product_img {
    width: 500px; height: 500px;

}
.s3_product_img img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.swiper-slide-active .s3_product, .swiper-slide-duplicate-active .s3_product { 
    transform: translateX(-60px); 
    opacity: 1; 
}


.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
}
.swiper-button-prev {
    left: 40%;
    right: auto;
}
.swiper-button-next {
    right: 50px;
    left: auto;
}

.swiper-pagination-bullet-active {
    background: #222;
}

#s4 { 
    position:relative; 
    background: #fff;
}
.s4_w { 
    position:relative; 
    margin:100px 12vw; 
    height: 90%;
    padding-top: 20px;
}
.s4_main { 
    font-size:4.5vw; 
    font-weight:700;   
    line-height:1.25; 
    letter-spacing:-1.8px; 
    margin-top: 30px;
    transform: translateX(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 0.6s;
    color:#222;
    text-align: center;
}
#s4.active .s4_main { 
    transform: translateX(0); 
    opacity: 1; 
}
.s4_sub {
    transform: translateY(100px); 
    opacity: 0;
    transition-duration: 1s; 
    transition-delay: 1s; 
    margin-top: 64px;
}
.s4_sub:nth-child(2) {
    transition-delay: 1.4s; 
}
.s4_item_cont > div {
    display: none;
    transition: 0.4s;
    word-break: keep-all;
}
.s4_item_cont > div:first-child {
    display: block;
}


#s4.active .s4_sub { 
    transform: translateY(0); 
    opacity: 1; 
}

.s4_item_list ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 48px auto;
}

.s4_item_list .s4_item_list_title:hover {
    border-bottom: 2px solid #222;
    font-weight: 700;
}
.on{
    border-bottom: 2px solid #222;
    font-weight: 700;
}
.s4_item_list_title a {
    font-size: 22px;
}

.s4_item_cont {
    position: relative;
}
.s4_item_cont > div {
    position: absolute;
    top: 0; left: 0; right: 0
}
.s4_item_cont > div > ul {
    display: flex;
    justify-content: center;
}
.s4_item_cont > div > ul li {
    width: 24%;;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.s4_item_cont > div > ul li:hover img {
    margin-top: -10px;
    margin-bottom: 10px;
}

.s4_item_cont_title {
    color: #222;
    font-size: 22px;
    font-weight: 500;
}
.s4_item_cont_tag {
    color: #666;
    font-size: 18px;
}


#s5 {
    background: url('../img/img_s5_bg.jpeg') no-repeat 0 0 /cover;
    background-size: 100% 100%; 
    min-height: 475px; 
}

.s5_main {
    font-size:4.8vw; 
    font-weight: 500;   
    line-height:1.25; 
    letter-spacing:-1.8px; 
    margin-top: 30px;
    color:#fff;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 2%;
}
.s5_main p:nth-child(1) {
    transform: translateX(-100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 0.6s;
}
.s5_main p:nth-child(2) {
    transform: translateX(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 0.8s;

    text-align: right;
}

#s5.active .s5_main p:nth-child(1) { 
    transform: translateX(0); 
    opacity: 1; 
}
#s5.active .s5_main p:nth-child(2) { 
    transform: translateX(0); 
    opacity: 1; 
}

.s5_sub_w {
    padding: 0 10%;
    transform: translateY(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 1s;
}
#s5.active .s5_sub_w {
    transform: translateY(0); 
    opacity: 1; 
}

.s5_sub {
    display: inline-block;
    margin-right: 48px;
}
.s5_sub_img {
    width: 30vw;
}
.s5_sub_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.s5_sub:nth-child(2) {
    vertical-align: bottom;
}


.s5_item_cont {
    width: 420px;
    color: #fff;
    word-break: keep-all;
}

.s5_item_cont_title {
    margin-bottom: 48px;
    font-size: 24px;
    font-weight: 700;
}

.s5_item_cont_sub {
    font-size: 18px;
    margin-bottom: 48px;
}


.s5_btn_w { 
    transform: translateY(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 1.3s; 
}

#s5.active .s5_sub_w { 
    transform: translateY(0); 
    opacity: 1; 
}
#s5.active .s5_btn_w { 
    transform: translateY(0); 
    opacity: 1; 
}

.s5_btn { 
    display:inline-block;
    margin-right:10px; 
    padding:13px 23px; 
    border:1px solid #fff; 
    border-radius:100px;
    transition: 0.4s;  
}
.s5_btn:hover { 
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}

.s5_btn span { 
    position:relative;
    display:block; 
    font-size: 0.84vw;
    color:#fff; 
    padding-right:70px; 
    transition: 0.4s;  
}

.s5_btn:hover span {
    text-shadow: 0 0 4px rgba(255,255,255,0.4);
}
.s5_btn span:before, .s5_btn span:after { 
    position:absolute; 
    content:""; 
    top:50%; right:0; 
}
.s5_btn span:before {
    width:25px; 
    height:1px; 
    background:#fff; 
}
.s5_btn span:after { 
    width:8px; height:8px;
    border:1px solid #fff; 
    border-bottom:0; 
    border-left:0; 
    transform:rotate(45deg) translateY(calc(-50% - 1px)); 
    right:4px; 
}



#s6 {
    background: url('../img/img_s6_bg.jpeg') no-repeat 0 0 /cover;
    background-size: 100% 100%; 
    min-height: 475px; 
}

.s6_sub {
    display: flex;
    justify-content: center;
    transform: translateY(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 0.4s; 
}
#s6.active .s6_sub {
    transform: translateY(0); 
    opacity: 1; 
}
.s6_item_cont {
    display: inline-block;
    margin: 0 12px;
}

.s6_sub_img {
    cursor: pointer;
    overflow: hidden;
    width: 380px;
    height: 506px;
}

.s6_sub_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0); /* 이미지 확대 배율 */
    transition: transform .8s; /* 시간 설정 */
}
.s6_sub_img:hover img {
    transform: scale(1.1); /* 이미지 확대 배율 */
    transition: transform .8s; /* 시간 설정 */
}

.s6_item_cont_title {
    font-size: 22px;
    color: #fff;
    margin: 20px 0;
}

.s6_btn_w a {
    font-size: 16px;
    color: #fff;
}


#s7 {
    background: #fff;
}
.s7_w {
    position:relative; 
    margin: 0 auto;
    padding: 48px 0;
}
.s7_item_cont {
    margin: 0 auto;
    width: max-content;
}
.s7_sub_img {
    display: inline-block;
    width: 570px;
    height: 628px;
    margin-right: 50px;
    vertical-align: top;
    transform: translateY(-100px); 
    opacity: 0; 
    transition-duration: 1s; 
}
#s7.active .s7_sub_img { 
    transform: translateY(0); 
    opacity: 1; 
}
.s7_sub_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s7_item_cont_wrap {
    display: inline-block;
    width: 550px;
    padding-top: 48px;
}
.s7_cont_txt {
    transform: translateX(140px); 
    opacity: 0; 
    transition-duration: 1.3s; 
    transition-delay: 0.5s; 
}
#s7.active .s7_cont_txt {
    transform: translateX(0); 
    opacity: 1; 
}
.s7_item_subtit {
    font-size: 18px;
    margin-bottom: 24px;
}
.s7_item_title {
    font-size: 68px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.s7_item_sub {
    font-size: 18px;
    margin: 48px 0;
    padding-left: 80px;
}
.s7_item_sub span {
    display: block;
    line-height: 28px;
}
.s7_item_sub span:nth-child(1) {
    margin-bottom: 24px;
}

.s7_btn_w { 
    transform: translateY(100px); 
    opacity: 0; 
    transition-duration: 1s; 
    transition-delay: 1.3s; 
    padding-left: 74px;
}

#s7.active .s7_sub_w { 
    transform: translateY(0); 
    opacity: 1; 
}
#s7.active .s7_btn_w { 
    transform: translateY(0); 
    opacity: 1; 
}

.s7_btn { 
    display:inline-block;
    margin-right:10px; 
    padding:13px 23px; 
    background: #088EE9;
    border-radius:100px;  
    transition: 0.4s;
}
.s7_btn:hover { 
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.s7_btn span { 
    position:relative;
    display:block; 
    font-size: 0.84vw;
    color:#fff; 
    padding-right: 40px; 
}
.s7_btn span:before, .s7_btn span:after { 
    position:absolute; 
    content:""; 
    top:50%; right:0; 
}
.s7_btn span:before {
    width:20px; 
    height:1px; 
    background:#fff; 
    transition: 0.4s;
}
.s7_btn span:after { 
    width:8px; height:8px;
    border:1px solid #fff; 
    border-bottom:0; 
    border-left:0; 
    transform:rotate(45deg) translateY(calc(-50% - 1px)); 
    right:4px; 
}
.s7_btn:hover span {
    text-shadow: 0 0 4px rgba(255,255,255,0.4);
}
.s7_btn:hover span:before {
    width: 25px;
}


.arrow { 
    position: fixed; 
    bottom: 50px; 
    right: 50px; 
    z-index: 20; 
    border: 1px solid #fff;
    width: 64px; height: 64px;
    border-radius: 50%;
    transition: 0.4s;
}
.prevA { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: block; 
    width: 24px; height: 24px;
    font-size: 12px; 
    color: #fafafa;
    background: url('../img/icon/icon_arrow_down_wh.png') no-repeat center center / contain;
    background-size: 100%;
    padding-top: 28px;
    margin-top: 8px;
    transition: 0.4s;
}
.arrow:hover {
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
    bottom: 54px; 
}
.arrow:hover .prevA {
    margin-top: 6px;
} 












